<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="timeoutBinding"  openTimeout="10:00:00"  maxReceivedMessageSize="65535001" transferMode="Streamed"  maxBufferPoolSize="52428800" sendTimeout="10:00:00" closeTimeout="10:00:00" receiveTimeout="10.23:59:59" >

          <security mode="None"></security>
          <reliableSession inactivityTimeout="20:00:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>

      <service name="DataBaseServer.DATABASE">

        <endpoint address="net.tcp://localhost:5001/databaseserver1" binding="netTcpBinding"  bindingConfiguration="timeoutBinding"
            contract="database.databaseoperations" />

      </service>
      <service name="DataBaseServer.publicKey">

        <endpoint address="net.tcp://localhost:5001/publickey" binding="netTcpBinding" bindingConfiguration="timeoutBinding"
        contract="database.public_masterKey" />
        
      </service>
       
      <service name="DataBaseServer.database_reg">

        <endpoint address="net.tcp://localhost:5001/credentials" binding="netTcpBinding" bindingConfiguration="timeoutBinding"
        contract="database.userCredintials" />

      </service>
     
    </services>
    
    
    
  </system.serviceModel>
  
</configuration>